body {
    background-color: #d6d5d5;
    color: #000000;
}
h1, h2{
    color:#05386b;
    font-family: 'Mystery Quest', cursive;
}
a:link {
    color:#425d4c;
}

nav {
    background-color:#cce5ff;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {color: #000000;}
nav a:hover {background-color:#ffffff;}

@media only screen and (max-width: 768px) {
    nav a {
        max-width: 100%;
        display: block;
        margin-bottom: 7px;
    }
    span {display: none;}
}

