
body {
    background-color: #225D43;
    color: #ffffff;
    font-size: 25px;
    margin: 30px;

}

nav {
    background-color:#163728;
    padding: 10px;
}
nav a {color: #ffffff;}
nav a:hover {background-color:#000000;}



@media only screen and (max-width: 1400px) {
    .buttons{flex-wrap: wrap;}
}


@media only screen and (min-width: 769px) {
    .section5_1 {margin-left: 30px;}
    .section1, .section1_3 {margin: 70px;}
    .pdip {margin-left: 70px;}
    .dipheader {margin-left: 70px;}
    .chart{margin-right: 100px;}
    .strat_guy {margin-right: 100px;}
}

@media only screen and (max-width: 768px) {
    nav a {
        max-width: 100%;
        display: block;
        margin-bottom: 7px;
    }
    span {display: none;}

    body section{font-size: 15px;}
    body h2{font-size:25px;}

    .part1_1{
        flex-wrap:wrap;
        margin: 1px;
        }

    .section1 {margin-right:20px;}    
    .section1_3 {margin-left: 20px;}
    .section1_2{display:none; }

    .section2_2 {margin-left: 20px;}

    .part4 {flex-wrap: wrap;}
    .budget_photo {max-width: 100%;}


    .part5 {flex-wrap: wrap;}
    .trend_line {max-width: 100%;}

    .part6 {flex-wrap: wrap;}

    .dip {flex-wrap: wrap;}
    .chart {
        max-width: 100%; 
        margin-bottom: 30px;
    }

    .portfolio {
        max-width: 100%;
        margin-right: 600px;
        
    }
}