
body {
    background-color: #779e9c;
    color: #ffffff;
    font-size: 25px;

}

nav {
    background-color:#0f1144;
    padding: 10px;
    
}
nav a {color: #ffffff;}
nav a:hover {background-color:#000000;}



