


nav {
    background-color:#232674;
    padding: 10px;
    
}
nav a {color: #ffffff;}
nav a:hover {background-color:#000000;}

/*

HOME PAGE

<link rel="stylesheet" href="style.css">

body, html {
    height: 100%;
}

.header {
    background-image: url("./media/main_photo.png");
    border-style: solid;

    height: 25%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-text {
    text-align: center;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

*/