body {
    background-color: #b4c4c3;
    color: #718347;
}
h1, h2{
    color:#233330;
}
a:link {
    color:#425d4c;
}

nav {
    background-color:#254a55;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {color: #41e7ec;}
nav a:hover {background-color:#b4c4c3;}

